learning-java/learning.java.lang/src/main/resources/zooinventory.dtd

<!ELEMENT Inventory ( Animal* )>
<!ELEMENT Animal ( Name, Species, Habitat, (Food | FoodRecipe), Temperament )>
<!ATTLIST Animal class (unknown | mammal | reptile) "unknown">
<!ELEMENT Name ( #PCDATA )>
<!ELEMENT Species ( #PCDATA )>
<!ELEMENT Habitat ( #PCDATA )>
<!ELEMENT Food ( #PCDATA )>
<!ELEMENT FoodRecipe ( Name, Ingredient+ )>
<!ELEMENT Ingredient ( #PCDATA )>
<!ELEMENT Temperament ( #PCDATA )>
